<h3>Movie List Name: <%= @list.name %></h3>

<% @movies.each do |movie| %>
  <li>
  Movie Title: <%= movie.title %> <br>
  Comment: <br>
  <% movie.bookmarks.each do |bookmark| %>
     <%= bookmark.comment %> | &nbsp;
     <%= link_to "Delete Bookmark", list_bookmark_path(@list, bookmark), data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to delete this bookmark?" } %>
     <br>
  <% end %>
</li>
<% end %>
<br>
<%= link_to "Back to Homepage", lists_path%>
<br>
<%= link_to 'Add movie', new_list_bookmark_path(@list) %>
